.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: rgba(14, 14, 14, 1);
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 75%;
}

.header_logo {
  width: 100px;
  object-fit: contain;
  max-width: 0 20px;
  margin-top: 6px;
  max-height: 50px;
}

.header_search {
  display: flex;
  flex: 1;
  align-items: center;
}

.header_input {
  height: 1px;
  padding: 18px;
  border: none;
  width: 100%;
  border-radius: 1%;
}

.search_icon {
  padding: 5px;
  height: 24px !important;
  background-color: #cd9042;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
  width: 25%;
}

.header_options {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header_optionOne {
  font-size: 10px;
}

.header_optionTwo {
  font-size: 13px;
  font-weight: 800;
}

.header_optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header_basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
